@import url(https://fonts.googleapis.com/css?family=Patrick+Hand+SC);

body {
  /* color of app background */
  background-color: #F2EFE9;
  background-image: url('https://i.imgur.com/D3AF5DW.png');
  /* font on whole website */
  font-family: 'Patrick Hand SC', cursive;
  /* spaces letters out nicely */
  letter-spacing:1px;
  /* font color */
  color:#41403E;
}

.navbar {
  /* overflow: hidden; */
  /* makes it one big long navbar taking up the whole width of the page */
  background-color: #252627;
  /* makes it fat */
  padding: 12px;
  font-size: 25px;
}

.wikiContainer {
  /* margin around whole container */
  margin: 10px 10px 10px 10px;
  /* makes it a flex  */
  display:flex;
  /* flex direction is row, flex wrap is on */
  flex-flow: row wrap;
  /* flex is generally center aligned */
  justify-content:center;
}

.bookmarkContainer {
  /* makes it a flex  */
  display:flex;
  /* flex direction is row, flex wrap is on */
  flex-flow: row wrap;
  /* flex is generally center aligned */
  justify-content:center;
}

.folder-fieldset {
  /* makes border around folder container*/
  border:solid 2px #41403E;
  /* makes border handdrawn */
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  /* margin around whole container */
  margin: 30px 35px 30px 35px;
  /* font size */
  font-size: 30px;

}

.dropdown {
  /* background color of dropdown */
  background-color:transparent;
  /* font color */
  color:#41403E;
  /* centers it */
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* turns cursor into a hand */
  cursor: pointer;
  /* font */
  font-family: 'Patrick Hand SC', cursive;
  /* font size */
  font-size: 15px;
  /* makes border around folder container*/
  border:solid 1px #41403E;
  /* makes border handdrawn */
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  /* takes away blue hover border */
  outline: none;
  /* spaces letters out nicely */
  letter-spacing:1px;
}

/* #bookmarks-header { */
  /* text is centered on page */
  /* text-align: center; */
  /* font size */
  /* font-size: 40px; */
  /* font color */
  /* color:#41403E; */
/* } */

.wiki-card {
  /* background color of wikicard */
  background:transparent;
  /* size of wiki card around divs */
  padding:1rem 1rem;
  /* space in b/t wikicards */
  margin:10px 10px;
  /* line color */
  color:#41403E;
  /* font size */
  font-size:1rem;
  /* spaces letters out nicely */
  letter-spacing:1px;
  /* makes border */
  border:solid 2px #41403E;
  /* makes border handdrawn */
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
}

.wiki-card:hover {
  /* wiki card background color changes on hover */
  background-color: #F2EFE9;
}

a {
  /* hyperlink text color */
  color: #41403E;
  /* gets rid of underline */
  text-decoration: none;
  /* font size */
  font-size: 25px;
}

.bookmark-img {
  /* vertically aligns bookmark img w/ text */
  /* vertical-align: middle; */
  /* centers it */
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* make cursor turn into hand */
  cursor: pointer;
}

input[type=search] {
  /* makes box bigger as font size gets bigger */
  font-size: 45px;
  /* makes background match color of app background */
  background-color: transparent;
  /* takes away inherent border */
  border: 0;
  /* font color */
  color:#41403E;
  /* takes away blue hover border */
  outline: none;
  /* aligns text center w/ border */
  text-align: center;
  /* font */
  font-family: 'Patrick Hand SC', cursive;
  /* margin around whole container */
  /* margin: 10px 10px 10px 10px; */
}

.search-form {
  /* centers it horizontally */
  display: flex;
  justify-content: center;
  /* makes border */
  border:solid 2px #41403E;
  /* makes border handdrawn */
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  /* makes width of border smaller */
  width: 45%;
  margin: 0 auto;
}

.login-form {
  /* brings it to front */
  z-index: 1;
  /* background color */
  background: #FFFFFF;
  /* box width */
  max-width: 360px;
  /* centers it on page more or less */
  margin: 100px auto 100px;
  /* padding w/in box b/t edge & content */
  padding: 45px;
  /* aligns text center */
  text-align: center;
  /* makes border */
  border:solid 2px #41403E;
  /* makes border handdrawn */
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  /* shadow */
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.login-input {
  /* font */
  /* font-family: 'Patrick Hand SC', cursive; */
  /* outline: 0; */
  /* background color */
  background: #f2f2f2;
  /* makes inoputs length of div */
  width: 100%;
  /* border: 0; */
  /* margin b/t input boxes */
  margin: 0 0 15px;
  /* size around the content but still inside the form */
  padding: 15px;
  /* evens out the input lengths */
  box-sizing: border-box;
  /* font size */
  font-size: 20px;
  /* makes border */
  border:solid 2px #41403E;
  /* makes border handdrawn */
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  /* takes away blue hover border */
  outline: none;
}

#login-button {
  /* font */
  font-family: 'Patrick Hand SC', cursive;
  /* makes it uppercase */
  text-transform: uppercase;
  /* outline: 0; */
  /* background color of button */
  background: #904E55;
  /* makes width the lendth of the div */
  width: 100%;
  /* takes away a bevel */
  border: 0;
  /* padding b/t text and edge */
  padding: 15px;
  /* font color */
  color: #FFFFFF;
  /* font size */
  font-size: 22px;
  /* turns cursor into a hand */
  cursor: pointer;
  /* takes away blue hover border */
  outline: none;
}

.delete-folder {
  /* text color */
  color: #41403E;
  /* turns cursor into a hand */
  cursor: pointer;
  /* background color */
  background-color: #7cb518;
  /* makes border */
  border:solid 2px #41403E;
  /* makes border handdrawn */
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  /* font of X */
  font-family: 'Patrick Hand SC', cursive;
}

.delete-folder:hover {
  background-color: #5c8001;
}

#new-folder-button {
  /* makes button wider */
  width: 90%;
  /* text color */
  color: #41403E;
  /* turns cursor into a hand */
  cursor: pointer;
  /* background color */
  background-color: #7cb518;
  /* makes border */
  border:solid 2px #41403E;
  /* makes border handdrawn */
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  /* margin around whole container */
  margin: 0 auto;
  /* makes it a flex  */
  display:flex;
  /* text center aligned */
  justify-content:center;
  /* font on button */
  font-family: 'Patrick Hand SC', cursive;
  /* font size */
  font-size: 20px;
}

#new-folder-button:hover {
  background-color: #5c8001;
}

#new-folder-input {
  /* makes border */
  border:solid 2px #41403E;
  /* makes border handdrawn */
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  /* makes background match color of app background */
  background-color: transparent;
  /* takes away blue hover border */
  outline: none;
  /* font size */
  font-size: 30px;
  /* font in input */
  font-family: 'Patrick Hand SC', cursive;
  /* font color */
  color:#41403E;
}

#new-folder-submit {
  /* text color */
  color: #41403E;
  /* turns cursor into a hand */
  cursor: pointer;
  /* background color */
  background-color: #7cb518;
  /* makes border */
  border:solid 2px #41403E;
  /* makes border handdrawn */
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  /* makes button wider */
  width: 20%;
  /* font size */
  font-size: 30px;
  /* font on button */
  font-family: 'Patrick Hand SC', cursive;
}

#new-folder-submit:hover {
  background-color: #5c8001;
}

#new-folder-form {
  /* margin around whole container */
  margin: 0 auto;
  /* makes it a flex  */
  display:flex;
  /* text center aligned */
  justify-content:center;
}